/*All Css User Style Is Here*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,300;1,400;1,500;1,700;1,800&display=swap');
body {
    font-family: 'Nunito', sans-serif;
} 
.lock {
    color: #0d6efd !important;
}

.user-profile {
    display: flex;
    justify-content: flex-start;
}


